__pycache__/
*.pyc
.ipynb_checkpoints/

.idea/
.vscode/
.DS_Store

Starlightv04/
Dados/

*.exe
*.o

BasesDir/
Runs_WAGGS/NGC0104/BasesDir
Runs_WAGGS/Scripts/Learning/
*.gm

Base.*

*.out
*.in
*.config
*.flux

*.pdf
*.txt
*.jpg
